{% extends "base.html" %}

{% block content %}

<p class="subtitle">About WordleForAll App</p>
<div class="intro">
        <p>
    Our WordleForApp is inspired by New York Times Wordle game. 

    WordleForAll is a daily word game where players have six attempts to guess a five letter word (beta version). Feedback for each guess is given in the form of colored tiles to indicate if letters match the correct position. 
    Daily words are curated by university student at Claremont Graduate university using the Oxford Dictionary. 

    Currently, you do have to register or sign in to play our WordleForAll game. However, our game is free to play on all platforms. 
    We recommend creating a quick account or signing in with an a fake gamil account for privacy concern (remember your fake email and password). You can play Wordle across devices or platforms while retaining your progress and stats. 
        </p>
</div>
<div class="intro">
    <p>
How to play?
Welcome to Wordle For All! Dive into this simple yet engaging word game. Your task? Guess the hidden word within the allotted attempts. Input your guesses and receive feedback on letter placement. But be strategic: refine your strategy with each attempt, surpass your friends’ scores, and climb the Leaderboard!
Wordle promotes vocabulary skills, critical thinking, and pure enjoyment. Feel free to customize the game settings to your liking. Wordle on, player!

    </p>
</div>

{% endblock %}