{% extends "base.html" %}

{% block content %}

<p class="subtitle" style="color: black; font-weight: bold;"><strong>Learn more about WordleForAll</strong></p>
<div class="intro" style="background-image: url('/static/images/back.png'); background-size: cover; color: black; font-weight: bold;">
    <p style="opacity: 1;">
        WordleForAll is a game inspired from the popular New York Times Wordle game. <br><br>

        WordleForAll presents daily word challenges to promote vocabulary skills, critical thinking, and pure enjoyment, with words curated using the Oxford Dictionary. <br><br>

        At present, access to our WordleForAll game requires registration or sign-in. However, the game is free to play across all platforms, allowing you to retain all of your progresses.
        We recommend creating a quick account and signing in with a temporary Gmail account to address any privacy concerns. 
    </p>
</div>
<div class="intro" style="background-image: url('/static/images/how.png'); background-size: cover; color: black; font-weight: bold;">
    <!-- <p>
        <strong style="font-size: 120%;">How can I play?</strong> <br><br>
        Your task? Guess the hidden word within the allotted attempts. Input your guesses and receive colored-tile feedback on letter placement. <br>
        Be strategic: refine your strategy with each attempt, surpass your friends’ scores, and climb the Leaderboard! <br>
        Finally, feel free to customize the game settings to your liking. <br><br>

        Wordle on, player!
    </p> -->
    <figure class="image is-square">
        <img src="{{ url_for('static', filename='images/howtoplay.png') }}" alt="Imges from New Your Times help section.">
    </figure>
    
</div>


{% endblock %}