{% extends "base.html" %}

{% block content %}

    <div class="section">
        <!-- <div class="container"> -->
            <div class="game-container">
              
                <div class="title-container">
                    <h1 class="title">W o r d l e F o r A l l</h1>
                </div>

                <div class="message-container">
                <!-- Show Score -->
                </div>

                <div class="tile-container">
                    <!-- Tiles will be dynamically generated here -->
                </div>
                <div class="key-container">
                    <!-- Keys will be dynamically generated here -->
                </div>
            </div>
        <!-- </div> -->
    </div>


{% endblock %}
