{% extends "base.html" %}

{% block content %}

<section class="section is-medium">
    
    <div class="container">
        <div class="column">
            <h1 class="title">Welcome, <strong style="text-transform: capitalize;"> {{ name }}!</strong></h1>
            <br>
            <p class="subtitle">
                Ready to test your skills today? or check your progress?
            </p>
        </div>
        <hr class="rounded">
        <div class="columns is-centered">
            <div class="buttons" style="align-content: center;">

                <div class="column">
                    <a href="/game_play" class="button is-large is-primary">Play Game</a>
                </div>
                <br><br>
               <div class="column">
                    <a href="/leaderboard" class="button is-large is-link">View Dashboard</a>
               </div>
            </div>
        </div>


    </div>

</section>

{% endblock %}